<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>模板</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../public/css/mui.min.css" />
		<link rel="stylesheet" href="../../public/css/style.css" />
		<script type="text/javascript" src="../../public/js/mui.js"></script>
		<script type="text/javascript" src="../../public/js/common.js"></script>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<div class="mui-icon mui-action-back mui-icon-back mui-pull-left"></div>
			<h1 class="mui-title">下拉刷新、上拉加载模板</h1>
		</header>
		<!--下拉刷新容器-->
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
			<div class="mui-scroll">
				<!--数据列表-->
				<ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 1</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 2</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 3</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 4</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li>
					<li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li><li class="mui-table-view-cell">
						<a href="" class="mui-navigate-right">Item 5</a>
					</li>
				</ul>
			</div>
		</div>
		
		<script type="text/javascript" src="pullrefresh.js"></script>

	</body>

</html>